@charset "utf-8";
/* CSS Document */
*{margin:0;padding:0;outline:none;}

h2 {
color: #fab600;
font-weight: lighter;
font-size: 30px;
font-family: "myriad pro";
float: left;
}

h2 span{color:#bf8b00;}

.clear{clear:both;}

.full_blue-bar {
width: 100%;
background: #04486e;
height: 6px;
margin: auto;
position: relative;
}

.email_phone {
float: right;
margin: 10px 40px 0px 0px;
}

.email_phone ul {
float: left;
}

.email_phone ul li {
display: inline;
padding: 0px 10px 0px 6px;
border-right:1px solid #9f9f9f;
}

.email_phone ul li span {
padding: 0px 0px 0px 5px;
color: #7f7f7f;
font-weight: bold;
font-size: 12px;
font-family: "Gadugi";
}

.search {
float: right;
background: url(../images/search.png) no-repeat;
background-position: right 5px;
margin: 20px 0px 0px 0px;
}

.menunavi {
float: left;
width: 100%;
margin: auto;
}

.container {
width: 85%;
margin: auto;
position: relative;
}

.logo_box {
float: left;
width: 100%;
margin: 30px 0px 0px 0px;
}

.logo {
background: url(../images/logo.png) no-repeat;
height: 90px;
float: left;
width: 320px;
background-size: 320px;
position: relative;
}

.left-slider {
width: 75%;
float: left;
position: relative;
}

.right-bar {
float: right;
width: 24%;
overflow:hidden;
margin: 0px 6px 0px 0px;
}

.title {
background: #2E2E2E;
font-family: "AvantGarde-Book bold";
padding: 4px 2px 4px 6px;
color: #fff;
border-radius: 8px 0px 0px 0px;
}

.inner-left font {
float: left;
font-weight: bold;
font-size: 11px;
color: #707070;
width:100%;
}

.inner-left p a {
font-size: 13px;
text-decoration: none;
padding: 5px 0px 0px 0px;
float: left;
color: #04486e;
}

.right-bar {
float: right;
width: 24%;
overflow: hidden;
margin: 0px 6px 10px 0px;
background: #fff;
}

.inner-left {
border-bottom: 1px solid #ccc;
width: 100%;
float: left;
padding: 0px 0px 0px 8px;
}

.inner-right {
float: left;
width: 100%;
}

.inner-right font {
float: left;
font-weight: bold;
font-size: 13px;
color: #bf8b00;
width: 100%;
padding: 2px 0px 5px 6px;
text-align: center;
}

.inner-right ul {
float: left;
width: 90%;
text-align: left;
}
.inner-right ul li {
list-style: none;
font-size: 13px;
margin: 0px 0px 0px -20px;
padding: 0px;
line-height: 19px;
list-style-type: decimal;
list-style-position: inside;
}

.left_butnn {
    float: left;
}

.w-box {
float: left;
border: 1px solid #ccc;
padding: 5px 0px 0px 0px;
margin: 0px 0px 0px 0px;
border-top: 0;
}

.inner-right ul li a {
color: #04486e;
}

.users p a {
font-size: 11px;
color: #04486e;
text-align: center;
line-height:14px;
}

.users {
float: left;
margin: 5px 4px 0px 5px;
width: 20%;
height: 90px;
}

.shadow {
background: url(../images/shadow.png) no-repeat;
width: 100%;
height: 38px;
background-size: 100%;
margin: -5px 0px 0px 0px;
float: left;
}

.yellow-bar {
background: #fab600;
width: 100%;
height: 6px;
float: left;
}

.yellow-bar .left {
background: url(../images/left-yell.png) no-repeat;
height: 12px;
width: 13px;
float: left;
margin: 0px 0px 0px -13px;
}

.yellow-bar .right {
background: url(../images/right-yell.png) no-repeat;
height: 12px;
width: 13px;
float: right;
margin: 0px -12px 0px 0px;
}

.left-box {
float: left;
width: 72%;
padding: 0px 10px 0px 10px;
}

#my_btn {
padding: 7px 25px 7px 25px;
text-align: center;
font-weight: bold;
font-family: "myriad pro";
font-size: 17px;
letter-spacing: 2px;
text-shadow: 0px 1px 0px #000;
}

.count {
text-align: center;
font-size: 15px;
color: #333;
margin: 12px 10px 0px 10px;
float: left;
}

.buttons {
float: right;
margin: 0px 10px 0px 0px;
}

.jaap-field {
float: left;
width: 98%;
height: 200px;
box-shadow: inset 1px 5px 60px 0px rgba(218, 235, 243, 0.44);
}

.right-box {
float: right;
width: 25%;
border: 1px solid #ccc;
background: #FFF;
margin: 10px 4px 0px 0px;
border-top: 0;
border-radius: 10px 0px 0px 0px;
}

#gurudwara p {
width: 77px;
text-align: center;
}

.view_more {
border-top: 1px solid #ccc;
float: left;
width: 100%;
text-align: center;
line-height: 2;
font-family: "myriad pro";
font-weight: bold;
font-size: 15px;
}

.modal-footer p a {
float: left;
font-size: 15px;
}

.bg_testi {
background: url(../images/testi-bg.jpg) no-repeat;
width: 100%;
float: left;
height: auto;
background-size: cover ;
margin: 10px 0px 50px 0px;
}


.bg_testi h2 {
padding: 2px 0px 10px 10px;
color: #FFFFFF;
text-shadow: 0px 2px 2px #857037;
}

.bg_testi p {
color: #FFFFFF;
font-style: italic;
font-weight: lighter;
font-size: 15px;
text-align: justify;
padding: 20px 20px 20px 20px;
background: rgba(0, 0, 0, 0.69);
border-radius: 8px;
}

.bg_testi small {
font-weight: bold;
color: #bf8b00;
font-size: 16px;
margin: 10px 0px 0px 0px;
}

.bg_testi img {
padding: 6px 20px 5px 0px;
float: left;
}

.vol {
float: left;
width: 100%;
margin: 0px 0px 19px 0px;
}

.social_box {
float: left;
width: 100%;
margin: auto;
position: relative;
}

.round {
background: #085e82;
float: left;
font-weight: bold;
color: #fff;
font-size: 30px;
padding: 10px 12px 10px 12px;
border-radius: 50%;
text-align: center;
margin: 10px 5px 0px 0px;
}

.left_soc h3 {
font-weight: lighter;
font-family: "myriad pro";
color: #085e82;
padding: 0px 0px 0px 0px;
float: left;
}

.social_div {
float: left;
width: 300px;
padding: 10px 28px 10px 28px;
border-right: 1px solid #ccc;
}

.left_soc {
float: left;
width: 300px;
padding: 0px 28px 0px 28px;
border-bottom: 1px solid#ccc;
margin: 0px 0px 0px 0px;
}

.coloumee {
float: left;
border-bottom: 1px solid #ccc;
}

@media screen and (max-width: 960px){

.modal.fade.in {
left: 0%;
top: 10%;
}

#right_main{width:100%;float:left;}

}

#right_main {
float: right;
width: 24%;
position: relative;
}


@media screen and (max-width: 960px){
.left-slider{float:left;width:100%;}

.right-bar{width:100%;}

.w-box{width:100%;}

.left-box{width:100%;}
	
.right-box {
width: 100%;
margin: 20px -8px 0px 0px;
padding: 0;
}



.boxx img {
float: left;
margin: 10px 0px 0px 0px;
width: 100%;
}

 .logo{
width: 100%;
background-size: 100%;

}

fieldset.infoo {
width: 100%;
margin: 0;
float: left;
max-width: 90%;
}

 .email_phone{
float: left;
width: 100%;
}

	
}
	


.bg_signup {
float: left;
width: 100%;
background: #FDFDFD;
border: 1px solid #ccc;
border-top: 0;
}	

#main {
width: 410px;
overflow: hidden;
margin: 10px 0px 10px 15px;
position: relative;
box-shadow: inset 0px 0px 160px 4px #ECECEC;
border: 1px solid #F0F0F0;
float: left;
background: rgba(255, 255, 255, 1);
border-radius: 10px 10px 0px 0px;
}

.textfield input {
font-size: 11px;
font-family: sans-serif;
text-align: left;
color: #020202;
font-weight: lighter;
}

.social h1 {
font-weight: lighter;
font-size: 30px;
text-align: center;
font-family: "myriad pro";
}

.social {
float: right;
width: 27%;
margin: 8% 14% 0% 0%;
background: #F5F5F5;
padding: 10px 30px 30px 30px;
border: 1px solid #E6E6E6;
box-shadow: inset 0px 0px 40px 0px #EBEBEB;
}

.textfield {
width: 96%;
float: left;
padding: 0px 15px 10px 15px;
}
.textfield label {
width: 150px;
float: left;
padding: 4px 0px 0px 0px;
font-family: sans-serif;
font-weight: bold;
font-size: 12px;
color: #000;
}

.social h1 {
font-weight: lighter;
font-size: 30px;
text-align: center;
font-family: "myriad pro";
border-bottom: 1px solid #DFDFDF;
line-height: 1.6;
}

.clear{clear:both;}

.form_title {
background: #000;
float: left;
width: 100%;
border-bottom: 1px solid #ccc;
padding: 0px 0px 0px 10px;
margin: 0px 0px 20px 0px;
}

.social_btn {
float: left;
width: 100%;
margin: 20px 0px 10px 0px;
}

.form_title p {
float: left;
font-weight: bold;
font-size: 11px;
font-family: sans-serif;
color: #F1F1F1;
font-style: italic;
margin: -8px 0px 8px 0px;
}

.boxx {
float: left;
width: 100%;
}

.boxx img {
float: left;
margin: 10px 0px 0px 0px;
}

.infoo {
float: left;
width: 70%;
margin: 0px 0px 0px 10px;
background-color: #FCFCFC;
max-width: 66%;
padding: 16px;
border-radius: 2px;
border: 1px solid #C4C4C4;
}

.boxx h3 {
font-size: 17px;
font-family: sans-serif;
color: #292929;
}

.boxx p {
font-size: 12px;
font-family: sans-serif;
color: #5E5E5E;
}

.bar {
background: url(../images/bar-bg.jpg) repeat-x;
float: left;
border: 1px solid #D5D5D5;
margin: 20px 0px 0px 0px;
width: 100%;
}

.bar h3 {
float: left;
font-size: 14px;
padding: 0;
margin: -2px 0px -1px 10px;
color: #3D3D3D;
font-weight: 800;
}

.bar h3 i {
color: #fab600;
}

.bar h2 {
float: right;
font-size: 14px;
margin: -2px 13px -1px 0px;
color: #363636;
font-weight: bold;
font-family: sans-serif;
}

.bar h2 span {
color: #636363;
font-weight: bold;
font-style: italic;
}

.video-gallery {
float: left;
width: 100%;
position: relative;
}

.nav.nav-list a {
color: #2E2E2E;
font-family: sans-serif;
font-size: 12px;
line-height: 32px;
border-top: 1px solid #D5D5D5;
}

.nav.nav-list a i {
padding: 0px 10px 0px 0px;
}
.right-box .img-rounded {
padding: 6px;
float: left;
}

.right-box h3 {
float: left;
font-size: 15px;
padding: 0px 0px 0px 4px;
margin: 0px 0px 0px 0px;
line-height: 28px;
font-family: sans-serif;
color: #5F5F5F;
width: 144px;
}

.right-box h4 {
float: left;
font-size: 12px;
padding: 0px 0px 0px 5px;
line-height: 4px;
color: #fab600;
width: 50%;
}

.right-box h4 span {
font-weight: lighter;
color: #414141;
}
.search-box h2 {
float: right;
font-size: 16px;
color: #222222;
}

#gurudwara img {
width: 95%;
height: 40px;
}

#gurudwara {
float: left;
width: 77px;
height: 110px;
}

.infoo ul {
float: left;
list-style: none;
margin: -20px 0px 0px 0px;
padding: 0px;
}

.infoo ul li span {
width: 120px;
float: left;
font-weight: bold;
font-family: sans-serif;
font-size: 12px;
margin: 0px 0px 0px 0px;
text-align:left;
}

.infoo ul li font {
float: left;
width: auto;
font-size: 13px;
font-family: sans-serif;
}
.infoo ul li {
line-height: 24px;
width: 100%;
float: left;
}

@media screen and (max-width: 960px){

.social {
width: 92%;
margin: 10px 10px 10px 10px;
padding: 0px 10px 0px 10px;
float: left;
}

#main {
width: 94%;
}

}

.imagess {
float: left;
width: 100%;
margin: auto;
}

.imagess a {
color: #242424;
font-size: 12px;
text-align: center;
font-weight: bold;
}

.imagess .users {
float: left;
margin: 20px 20px 10px 0px;
border-radius: 0px 0px 2px 2px;
}

.image {
    float: left;
    height: 120px;
    overflow: hidden;
    width: 170px;
    cursor:pointer;
	
}

.zoomin img {
  width: 170px;
 
  -webkit-transition: all 1s ease;
     -moz-transition: all 1s ease;
       -o-transition: all 1s ease;
      -ms-transition: all 1s ease;
          transition: all 1s ease;
}
 
.zoomin img:hover {
  width: 600px;
  height: 600px;
}

.ragi_list {
float: left;
width: 100%;
border: 1px solid #D1D1D1;
border-radius: 8px;
background: url("../images/greyzz.png");
box-shadow: inset 0px 0px 21px -2px #E0E0E0;
overflow: hidden;
margin: 0px 0px 20px 0px;
}

.ragi_list table h3 {
color: #bf8b00;
font-family: sans-serif;
}

.ragi_list .bar {
margin: 0;
}

.ragi_list table {
margin: 6px 0px 6px 0px;
float: left;
width: 85%;
}

#ragi_icon {
padding: 6px;
float: left;
width: 80px;
height: 60px;
}

.ragi_list h3 {
font-size: 16px;
font-family: "myriad pro";
margin: -6px 6px 0px 4px;
float: left;
color: #5C5C5C;

}

.ragi_list p {
float: left;
width: 434px;
font-size: 12px;
margin: -7px 0px 6px 4px;
line-height: 15px;
text-align: justify;
}

.ragi_list table i {
font-size: 24px;
color: #666;
float: left;
margin: -4px 4px 4px 4px;
}

.ragi_list table p span {
font-size: 26px;
float: left;
}



/*Start Timeline*/

.timelinee {
float: left;
padding: 0px 0px 20px 0px;
border-bottom: 1px solid #EEE;
margin: 0px 0px 40px 0px;
}

.message-item {
margin-bottom: 25px;
margin-left: 40px;
position: relative;
}
.message-item .message-inner {
background: #fff;
border: 1px solid #ddd;
border-radius: 3px;
padding: 10px;
position: relative;
}
.message-item .message-inner:before {
border-right: 10px solid #ddd;
border-style: solid;
border-width: 10px;
color: rgba(0,0,0,0);
content: "";
display: block;
height: 0;
position: absolute;
left: -20px;
top: 6px;
width: 0;
}
.message-item .message-inner:after {
border-right: 10px solid #fff;
border-style: solid;
border-width: 10px;
color: rgba(0,0,0,0);
content: "";
display: block;
height: 0;
position: absolute;
left: -18px;
top: 6px;
width: 0;
}
.message-item:before {
background: #fff;
border-radius: 2px;
bottom: -30px;
box-shadow: 0 0 3px rgba(0,0,0,0.2);
content: "";
height: 100%;
left: -30px;
position: absolute;
width: 3px;
}
.message-item:after {
background: #fff;
border: 2px solid #ccc;
border-radius: 50%;
box-shadow: 0 0 5px rgba(0,0,0,0.1);
content: "";
height: 15px;
left: -36px;
position: absolute;
top: 10px;
width: 15px;
}
.clearfix:before, .clearfix:after {
content: " ";
display: table;
}
.message-item .message-head {
border-bottom: 1px solid #eee;
margin-bottom: 8px;
padding-bottom: 8px;
}
.message-item .message-head .avatar {
margin-right: 20px;
}
.message-item .message-head .user-detail {
overflow: hidden;
}
.message-item .message-head .user-detail h5 {
font-size: 16px;
font-weight: bold;
margin: 0;
}
.message-item .message-head .post-meta {
float: left;
padding: 0 15px 0 0;
}
.message-item .message-head .post-meta >div {
color: #333;
font-weight: bold;
text-align: right;
}
.post-meta > div {
color: #777;
font-size: 12px;
line-height: 22px;
}
.message-item .message-head .post-meta >div {
color: #333;
font-weight: bold;
text-align: right;
}
.post-meta > div {
color: #777;
font-size: 12px;
line-height: 22px;
}
.timelinee img {
 min-height: 40px;
 max-height: 40px;
}

/*End Timeline*/

.timelinee textarea {
margin: 20px 0px 10px 0px;
}

.timelinee button {
margin: 0px 0px 20px 0px;
}

.inner-left p {
float: right;
width: 74%;
text-align: left;
font-weight: bold;
font-size: 13px;
color: #242424;
}

.inner-right ul li span {
float: right;
padding: 0px 10px 0px 10px;
text-align: left;
font-weight: bold;
color: #2E2E2E;
}

.inner-left p font {
font-style: italic;
padding: 0;
margin: 0;
line-height: 0;
}

#uploadImage {
margin: 9px 0px 0px 0px;
background: #FFFFFF;
width: 91%;
padding: 6px 0px 0px 4px;
border-radius: 8px;
border: 1px solid #ECECEC;
color: #B4943E;
}

.uploadd_img {
width: 28%;
float: left;
}

@media screen and (max-width: 960px){

.jaap-field {
width: 94%;
height: 200px;
}

.uploadd_img {
width: 100%;
float: none;
}
.container{width:94%;}

.yellow-bar .left{display:none;}
.yellow-bar .right{display:none;}

.search {
width: 96%;
}

.email_phone ul {
display: none;
}

.main_gallery {
width: 100%;
height: auto;
}



}